/* shiki-exo, SergejVolkov, 2019

Клуб темы: https://shikimori.one/clubs/2385-shiki-exo


downloadable.css, update-03.07.2019
    
Статичная часть темы, содержит импорт обновляемой части, выбор цветовых схем и прочие пользовательские настройки.
    Скопируйте содержимое данного файла к себе на сайт в раздел 'Настройки' -> 'Внешний вид сайта'.

Вы можете добавлять свой код и настраивать тему так, как Вам удобно. */


/* Загрузка основного файла темы из облачного репозитория. */
@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/theme-current-version.css');

/* Выбор цветовой схемы. Для установки нужной замените 'scheme-light' (по умолчанию стоит светлая тема) в ссылке @import на один из идентификаторов, приведенных ниже:

scheme-light
scheme-light-teal
scheme-light-pink
scheme-light-green
scheme-dark
scheme-dark-violet
scheme-dark-blue
scheme-dark-green
scheme-grayscale
scheme-system

Примечание. Возможно, будут добавляться новые схемы, их полный список смотрите по ссылке https://github.com/SergejVolkov/sergejvolkov-shiki-theme или в клубе темы.

Вы можете создать свою собственную схему, скопировав содержимое одного из файлов предустановленных схем к себе в стиль и настроив значения переменных.
    Назначение каждой из них описано в клубе темы в разделе 'Спецификация переменных':
    https://shikimori.one/clubs/2385-shiki-exo/pages/1779-gaydy-sovety

    Совет: постарайтесь использовать в темах не очень большое количество разных цветов, а оттенки одного цвета разной яркости и насыщенности.
    Такой дизайн хорошо выглядит и не сбивает с толку пользователя и посетителей страницы)

        Наслаждайтесь! */
@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/scheme-light.css');


/* Загрузка шрифта из Google Fonts. По умолчанию стоит шрифт 'Exo 2'.
    Вы можете загрузить любой нравящийся Вам шрифт на https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Exo+2&subset=cyrillic');

:root {
    /* Установка переменной шрифта.
        Если Вы загрузили свой шрифт, укажите в кавычках его название на Google Fonts.
        В противном случае Ваш шрифт не отобразится. */
    --main-font: 'Exo 2', sans-serif;
    /* В профиле на месте обычной аватарки отображается выбранная Вами картинка. */
    --desktop-avatar-image: url('ссылка на картинку');
}

/*---------------------------------------------------------------------------------------------*/

/* Если Вы не используете один из списков аниме / манга, раскомментируйте этот импорт. */

/*@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/single-profile-list.css');*/

/*---------------------------------------------------------------------------------------------*/

/* Здесь Вы можете установить вместо одноцветного фона изображение.
    Просто раскомментируйте эту часть кода и вставьте ссылку на свою картинку в указанное место.
    Если Ваша картинка темная, выберите в @import dark версию, а если светлая - light версию (она уже стоит по умолчанию). */

/*@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/profile-background-light.css');

:root {
    --profile-background-image: url('ссылка на картинку');
}*/

/*---------------------------------------------------------------------------------------------*/

/* Тут можно установить обложку для профиля.
    Раскомментируйте эту часть кода и вставьте ссылку на свою картинку в указанное место.
    Если Ваша картинка темная, выберите в первом @import dark версию, а если светлая - light версию (она уже стоит по умолчанию).
    По умолчанию высота обложки - 35vw, то есть 35% от ее ширины, но Вы можете изменить это значение. */

/*@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/profile-cover-light.css');
@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/profile-cover.css');

:root {
    --profile-cover-image: url('ссылка на картинку');
    --profile-cover-height: 35vw;
}*/

/*---------------------------------------------------------------------------------------------*/

/* Если у Вас установлена обложка для профиля, Вы можете спрятать псевдоаватарку.
    В случае, если Вы пользуетесь только одним из списков аниме / манга, замените в ссылке hide-profile-avatar на hide-profile-avatar-single-list */

/*@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/hide-profile-avatar.css');*/

/*---------------- Пустой медиа-запрос для корректной работы мобильной версии -----------------*/

@media { }

/*---------------------------------- Место для Вашего кода ------------------------------------*/

