/* sergejvolkov-shiki-theme, SergejVolkov, 2019

downloadable.css
    
Необновляемая часть темы, содержит импорт основной части, выбор цветовых схем и прочие пользовательские настройки.
    Скопируйте содержимое данного файла к себе на сайт в раздел "Настройки" -> "Внешний вид сайта".

Вы можете добавлять собственный код и настраивать тему так, как Вам удобно. */


/* Загрузка основного файла темы из облачного репозитория. */
@import url('https://raw.githack.com/SergejVolkov/sergejvolkov-shiki-theme/master/theme-current-version.css');

/* Загрузка шрифта из Google Fonts. По умолчанию стоит шрифт 'Exo 2'.
    Вы можете загрузить любой нравящийся Вам шрифт на https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

:root {
    /* Установка переменной шрифта.
        Если Вы загрузили свой шрифт, укажите в кавычках его название на Google Fonts.
        В противном случае Ваш шрифт не отобразится. */
    --main-font: 'Exo 2', sans-serif;

    /* В десктопной версии сайта на месте обычной аватарки в профиле отображается выбранная Вами картинка. */
    --desktop-avatar-image: url('ссылка на картинку');
}

/* Установка нужной цветовой схемы осуществляется путем простого раскомментирования / закомментирования.
    Комментарий начинается с сочетания символов 'слэш звездочка' и заканчивается этой же парой символов, но в обратном порядке.
    Вся область между началом и концом комментария не учитывается в коде, таким образом, закомментированные темы сейчас неактивны.
    
    По умолчанию стоит светлая тема.

    Чтобы активировать тему, оставьте закомментированным только ее заголовок, как сейчас у светлой темы.
    Не забудьте при этом деактивировать ту тему, которая активна в данный момент, т. е. закомментируйте ее полностью вместе с заголовком, образец - все выключенные сейчас темы.


Вы можете создавать свои темы, настраивая значения переменных.
    Назначение каждой из них описано в блоке 'Обо мне' в разделе 'Спецификация переменных' на моей странице: https://shikimori.one/SergejVolkov

    Совет от разработчика: постарайтесь использовать в темах не очень большое количество разных цветов, а оттенки одного цвета разной яркости и насыщенности.
    Такой дизайн хорошо выглядит и не сбивает с толку пользователя и посетителей страницы)

        Удачи! */


/* Light theme / Светлая тема */
:root {
    --top-menu-color: #5696ff;
    --top-menu-submenu-back-color: #4a7cce;
    --top-menu-button-hover-color: #4376cc;
    --top-menu-border-color: #eee;

    --l-page-back-color-desktop: #f8f8f8;
    --l-page-back-color-mobile: white;
    --quote-back-color: #eaeaea;
    --tile-back-color: white;
    --tile-border-color: #ccc;
    --headline-color: #71a7ff;

    --main-text-shadow-color: #0000;
    --main-text-color: black;
    --sec-text-color: #424242;
    --ter-text-color: #666666;
    --quat-text-color: #828282;
    --profile-nickname-color: black;

    --li-hover-color: #98c2e3;
    --li-active-color: #71a7ff;
    --main-link-color: #176093;
    --main-link-hover-color: #ff5016;
    --sec-link-color: #4a4a4a;
    --sec-link-active-color: #15518c;
    --sec-link-hover-color: #303030;

    --button-hover-color: #3175e2;
    --orange-hover-color: #ff5900;
    --green-color: #1c9e16;

    --bar-s0-color: #4682b4;
    --bar-s1-color: #6295bd;
    --bar-s2-color: #79a9cf;
    --bar-s3-color: #98c2e3;
}

/* Light pink theme / Розовая тема 
:root {
    --top-menu-color: #9e3fb5;
    --top-menu-submenu-back-color: #88329e;
    --top-menu-button-hover-color: #8b30a3;
    --top-menu-border-color: #eee;

    --l-page-back-color-desktop: #f8f8f8;
    --l-page-back-color-mobile: white;
    --quote-back-color: #eaeaea;
    --tile-back-color: white;
    --tile-border-color: #c669e0;
    --headline-color: #d543e8;

    --main-text-shadow-color: #0000;
    --main-text-color: black;
    --sec-text-color: #424242;
    --ter-text-color: #666666;
    --quat-text-color: #828282;
    --profile-nickname-color: #8d20ae;

    --li-hover-color: #d3d3d3;
    --li-active-color: #c347d3;
    --main-link-color: #0f4e7a;
    --main-link-hover-color: #fc5720;
    --sec-link-color: #363636;
    --sec-link-active-color: #7f0074;
    --sec-link-hover-color: #141414;

    --button-hover-color: #9635ad;
    --orange-hover-color: #ff5900;
    --green-color: #1c9e16;

    --bar-s0-color: #891899;
    --bar-s1-color: #a329b5;
    --bar-s2-color: #c348d6;
    --bar-s3-color: #e288ef;
}*/

/* Light green theme / Зеленая тема 
:root {
    --top-menu-color: #1eb717;
    --top-menu-submenu-back-color: #1c9e16;
    --top-menu-button-hover-color: #1da817;
    --top-menu-border-color: #eee;

    --l-page-back-color-desktop: #f8f8f8;
    --l-page-back-color-mobile: white;
    --quote-back-color: #eaeaea;
    --tile-back-color: white;
    --tile-border-color: #9cdb99;
    --headline-color: #4cad29;

    --main-text-shadow-color: #0000;
    --main-text-color: black;
    --sec-text-color: #424242;
    --ter-text-color: #666666;
    --quat-text-color: #828282;
    --profile-nickname-color: #098706;

    --li-hover-color: #d3d3d3;
    --li-active-color: #41aa1b;
    --main-link-color: #176093;
    --main-link-hover-color: #388e19;
    --sec-link-color: #4a4a4a;
    --sec-link-active-color: #015c00;
    --sec-link-hover-color: #303030;

    --button-hover-color: #10ad08;
    --orange-hover-color: #ff5900;
    --green-color: #1c9e16;

    --bar-s0-color: #48a028;
    --bar-s1-color: #50b52b;
    --bar-s2-color: #5fc938;
    --bar-s3-color: #75e04e;
}*/

/* Dark theme / Темная тема 
:root {
    --top-menu-color: #424247;
    --top-menu-submenu-back-color: #38383d;
    --top-menu-button-hover-color: #353539;
    --top-menu-border-color: #f0f0f0;

    --l-page-back-color-desktop: #2a2a2e;
    --l-page-back-color-mobile: #303034;
    --quote-back-color: #3e3e40;
    --tile-back-color: #36363b;
    --tile-border-color: #777;
    --headline-color: #5d5d62;

    --main-text-shadow-color: black;
    --main-text-color: white;
    --sec-text-color: #ebebeb;
    --ter-text-color: #dedede;
    --quat-text-color: #ababab;
    --profile-nickname-color: #6fcaf7;

    --li-hover-color: #535358;
    --li-active-color: #5d5d62;
    --main-link-color: #81dbf8;
    --main-link-hover-color: #bba0ff;
    --sec-link-color: #dedede;
    --sec-link-active-color: #fff430;
    --sec-link-hover-color: white;

    --button-hover-color: #5d5d62;
    --orange-hover-color: #ff8644;
    --green-color: #2ad370;

    --bar-s0-color: #58595b;
    --bar-s1-color: #6e6f72;
    --bar-s2-color: #8c8e93;
    --bar-s3-color: #abaeb5;
}*/

/* Dark violet theme / Темно-фиолетовая тема 
:root {
    --top-menu-color: #7a1c96;
    --top-menu-submenu-back-color: #610e7a;
    --top-menu-button-hover-color: #611677;
    --top-menu-border-color: #f0f0f0;

    --l-page-back-color-desktop: #1f0530;
    --l-page-back-color-mobile: #2c0c42;
    --quote-back-color: #3a0f59;
    --tile-back-color: #301047;
    --tile-border-color: #9028af;
    --headline-color: #9526af;

    --main-text-shadow-color: black;
    --main-text-color: white;
    --sec-text-color: #ebebeb;
    --ter-text-color: #dedede;
    --quat-text-color: #ababab;
    --profile-nickname-color: #db44ff;

    --li-hover-color: #51216b;
    --li-active-color: #9526af;
    --main-link-color: #84c3ff;
    --main-link-hover-color: #ffb44c;
    --sec-link-color: #dedede;
    --sec-link-active-color: #fff430;
    --sec-link-hover-color: white;

    --button-hover-color: #9521b7;
    --orange-hover-color: #ff8644;
    --green-color: #2ad370;

    --bar-s0-color: #7b1393;
    --bar-s1-color: #9a29b5;
    --bar-s2-color: #b94cd3;
    --bar-s3-color: #e38ff7;
}*/

/* Dark green theme / Темно-зеленая тема 
:root {
    --top-menu-color: #00603b;
    --top-menu-submenu-back-color: #025132;
    --top-menu-button-hover-color: #024f31;
    --top-menu-border-color: #f0f0f0;

    --l-page-back-color-desktop: #2a2a2a;
    --l-page-back-color-mobile: #303030;
    --quote-back-color: #3e3e3e;
    --tile-back-color: #363636;
    --tile-border-color: #007038;
    --headline-color: #046841;

    --main-text-shadow-color: black;
    --main-text-color: white;
    --sec-text-color: #ebebeb;
    --ter-text-color: #dedede;
    --quat-text-color: #ababab;
    --profile-nickname-color: #06d886;

    --li-hover-color: #345948;
    --li-active-color: #046841;
    --main-link-color: #00d0ff;
    --main-link-hover-color: #00e28a;
    --sec-link-color: #dedede;
    --sec-link-active-color: #00d371;
    --sec-link-hover-color: white;

    --button-hover-color: #037f4f;
    --orange-hover-color: #ff8644;
    --green-color: #2ad370;

    --bar-s0-color: #117a51;
    --bar-s1-color: #1b8e61;
    --bar-s2-color: #2bb580;
    --bar-s3-color: #47e0a5;
}*/

/* Dark blue theme / Темно-синяя тема 
:root {
    --top-menu-color: #004260;
    --top-menu-submenu-back-color: #004058;
    --top-menu-button-hover-color: #003250;
    --top-menu-border-color: #f0f0f0;

    --l-page-back-color-desktop: #0c1923;
    --l-page-back-color-mobile: #132838;
    --quote-back-color: #07384f;
    --tile-back-color: #013046;
    --tile-border-color: #777;
    --headline-color: #0b709e;

    --main-text-shadow-color: black;
    --main-text-color: white;
    --sec-text-color: #ebebeb;
    --ter-text-color: #dedede;
    --quat-text-color: #ababab;
    --profile-nickname-color: #6fcaf7;

    --li-hover-color: #06597f;
    --li-active-color: #0b709e;
    --main-link-color: #81dbf8;
    --main-link-hover-color: #bba0ff;
    --sec-link-color: #dedede;
    --sec-link-active-color: #fff430;
    --sec-link-hover-color: white;

    --button-hover-color: #06597f;
    --orange-hover-color: #ff8644;
    --green-color: #2ad370;

    --bar-s0-color: #4682b4;
    --bar-s1-color: #6295bd;
    --bar-s2-color: #79a9cf;
    --bar-s3-color: #98c2e3;
}*/

/* Grayscale theme / Черно-белая тема 
:root {
    --top-menu-color: #828282;
    --top-menu-submenu-back-color: #6d6d6d;
    --top-menu-button-hover-color: #707070;
    --top-menu-border-color: #eee;
	
    --l-page-back-color-desktop: #f8f8f8;
    --l-page-back-color-mobile: white;
    --quote-back-color: #eaeaea;
    --tile-back-color: white;
    --tile-border-color: #ccc;
    --headline-color: #7c7c7c;
	
    --main-text-shadow-color: #0000;
    --main-text-color: black;
    --sec-text-color: #303030;
    --ter-text-color: #505050;
    --quat-text-color: #626262;
    --profile-nickname-color: #494949;
	
    --li-hover-color: #d3d3d3;
    --li-active-color: #7c7c7c;
    --main-link-color: #373737;
    --main-link-hover-color: #202020;
    --sec-link-color: #4a4a4a;
    --sec-link-active-color: #5c5c5c;
    --sec-link-hover-color: #303030;
	
    --button-hover-color: #5d5d5d;
    --orange-hover-color: #898989;
    --green-color: #999999;
	
    --bar-s0-color: #565656;
    --bar-s1-color: #757575;
    --bar-s2-color: #969696;
    --bar-s3-color: #bfbfbf;
}*/

/*---------------------------------------------------------------------------------------------*/

/* Этот блок кода отвечает за 'прилипающее' меню в десктопной версии сайта.
    Если Вам это не нужно, можете удалить или закомментировать (хотя, по-моему, удобно). */

/* AUTO=sticky_menu */
@media screen and (min-width: 1025px) {
    .l-top_menu-v2 {
        position: sticky;
        top: 0;
    }

        .l-top_menu-v2 .active .submenu, .l-top_menu-v2 .search-results {
            max-height: calc(100vh - 46px);
            overflow: auto;
        }
}

/*---------------------------------------------------------------------------------------------*/

/* Здесь Вы можете установить вместо одноцветного фона изображение.
    Просто раскомментируйте эту часть кода и вставьте ссылку на свою картинку в указанное место.
    В целях повышения читабельности фон-картинка будет отображаться только в десктопной версии сайта. */

/*@media screen and (min-width: 1025px) {
    body::before {
        background-image: url('ссылка на картинку') !important;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .l-footer .copyright, .l-footer .copyright::before {
        color: black;  Если картинка светлая, на ее фоне будет хорошо видно темный текст. Выберите подходящий Вам вариант.
        color: white;  Если картинка темная, на ее фоне будет хорошо видно светлый текст. Неподходящий вариант и этот текст нужно удалить.
    }

    .l-page {
        background: none !important;
    }
}*/

/*---------------------------------------------------------------------------------------------*/

/* Тут можно сделать обложку для профиля.
    Просто раскомментируйте эту часть кода и вставьте ссылку на свою картинку в указанное место.
    Обложка будет отображаться только в десктопной версии сайта. */

/*@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-brief header {
        background: url('ссылка на картинку') no-repeat !important;
        background-size: auto;
        background-size: cover;
        height: 330px !important;
    }

        .p-profiles .profile-head .c-brief header .notice {
            text-shadow: none;
            color: black;  Если обложка светлая, на ее фоне будет хорошо видно темный текст. Выберите подходящий Вам вариант.
            color: white;  Если обложка темная, на ее фоне будет хорошо видно светлый текст. Неподходящий вариант и этот текст нужно удалить.
        }

    .p-profiles .profile-head {
        margin-top: 345px !important;
    }
}

:root {
    --profile-nickname-color: black !important;  Если обложка светлая, на ее фоне будет хорошо видно темный текст. Выберите подходящий Вам вариант.
    --profile-nickname-color: white !important;  Если обложка темная, на ее фоне будет хорошо видно светлый текст. Неподходящий вариант и этот текст нужно удалить.
}*/

/*---------------------------------- Место для Вашего кода ------------------------------------*/

