/* sergejvolkov-shiki-theme, SergejVolkov, 2019

downloadable.css, update-17.06.2019
    
Статичная часть темы, содержит импорт обновляемой части, выбор цветовых схем и прочие пользовательские настройки.
    Скопируйте содержимое данного файла к себе на сайт в раздел 'Настройки' -> 'Внешний вид сайта'.

Вы можете добавлять свой код и настраивать тему так, как Вам удобно. */


/* Загрузка основного файла темы из облачного репозитория. */
@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/theme-current-version.css');

/* Выбор цветовой схемы. Для установки нужной замените 'scheme-light' (по умолчанию стоит светлая тема) в ссылке @import на один из идентификаторов, приведенных ниже:

scheme-light
scheme-light-pink
scheme-light-green
scheme-dark
scheme-dark-violet
scheme-dark-blue
scheme-dark-green
scheme-grayscale

Примечание. Возможно будут добавляться новые схемы, их полный список смотрите по ссылке https://github.com/SergejVolkov/sergejvolkov-shiki-theme или на странице профиля разработчика.

Вы можете создать свою собственную схему, скопировав содержимое одного из файлов предустановленных схем к себе в стиль и настроив значения переменных.
    Назначение каждой из них описано в блоке 'Обо мне' в разделе 'Спецификация переменных' на странице: https://shikimori.one/SergejVolkov

    Совет: постарайтесь использовать в темах не очень большое количество разных цветов, а оттенки одного цвета разной яркости и насыщенности.
    Такой дизайн хорошо выглядит и не сбивает с толку пользователя и посетителей страницы)

        Наслаждайтесь! */
@import url('https://raw.githubusercontent.com/SergejVolkov/sergejvolkov-shiki-theme/master/scheme-light.css');


/* Загрузка шрифта из Google Fonts. По умолчанию стоит шрифт 'Exo 2'.
    Вы можете загрузить любой нравящийся Вам шрифт на https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Exo+2&subset=cyrillic');

:root {
    /* Установка переменной шрифта.
        Если Вы загрузили свой шрифт, укажите в кавычках его название на Google Fonts.
        В противном случае Ваш шрифт не отобразится. */
    --main-font: 'Exo 2', sans-serif;

    /* В десктопной версии сайта на месте обычной аватарки в профиле отображается выбранная Вами картинка. */
    --desktop-avatar-image: url('ссылка на картинку');
}

/*---------------------------------------------------------------------------------------------*/

/* Этот блок кода отвечает за 'прилипающее' меню в десктопной версии сайта.
    Если Вам это не нужно, можете удалить или закомментировать (хотя, по-моему, удобно). */

/* AUTO=sticky_menu */
@media screen and (min-width: 1025px) {
    .l-top_menu-v2 {
        position: sticky;
        top: 0;
    }

        .l-top_menu-v2 .active .submenu, .l-top_menu-v2 .search-results {
            max-height: calc(100vh - 46px);
            overflow: auto;
        }
}

/*---------------------------------------------------------------------------------------------*/

/* Здесь Вы можете установить вместо одноцветного фона изображение.
    Просто раскомментируйте эту часть кода и вставьте ссылку на свою картинку в указанное место.
    В целях повышения читабельности фон-картинка будет отображаться только в десктопной версии сайта. */

/*@media screen and (min-width: 1025px) {
    body::before {
        background-image: url('ссылка на картинку') !important;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .l-footer .copyright, .l-footer .copyright::before {
        color: black;  Если картинка светлая, на ее фоне будет хорошо видно темный текст. Выберите подходящий Вам вариант.
        color: white;  Если картинка темная, на ее фоне будет хорошо видно светлый текст. Неподходящий вариант и этот текст нужно удалить.
    }

    .l-page {
        background: none !important;
    }
}*/

/*---------------------------------------------------------------------------------------------*/

/* Тут можно сделать обложку для профиля.
    Просто раскомментируйте эту часть кода и вставьте ссылку на свою картинку в указанное место.
    Обложка будет отображаться только в десктопной версии сайта. */

/*@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-brief header {
        background-image: url('ссылка на картинку') !important;
        background-position: center;
        background-size: cover;
        height: 330px !important;
    }

        .p-profiles .profile-head .c-brief header .notice {
            text-shadow: none;
            color: black;  Если обложка светлая, на ее фоне будет хорошо видно темный текст. Выберите подходящий Вам вариант.
            color: white;  Если обложка темная, на ее фоне будет хорошо видно светлый текст. Неподходящий вариант и этот текст нужно удалить.
        }

    .p-profiles .profile-head {
        margin-top: 345px !important;
    }
}

:root {
    --profile-nickname-color: black !important;  Если обложка светлая, на ее фоне будет хорошо видно темный текст. Выберите подходящий Вам вариант.
    --profile-nickname-color: white !important;  Если обложка темная, на ее фоне будет хорошо видно светлый текст. Неподходящий вариант и этот текст нужно удалить.
}*/

/*---------------------------------------------------------------------------------------------*/

/* Если Вы не используете один из списков аниме / манга, раскомментируйте этот блок кода. */

/*@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-brief .avatar {
        height: 385px !important;
    }
}*/

/*---------------------------------- Место для Вашего кода ------------------------------------*/

