/* Скрытие аватарки при наличии обложки профиля и отключенном списке аниме / манга /
    Hides avatar when profile cover is set and anime / manga list disabled */

@media screen and (min-width: 768px) {
    .p-profiles .profile-head .c-brief .avatar {
        display: none;
    }

    .p-profiles .profile-head .c-info {
        float: left;
        margin-top: 5px;
        width: calc(61% - 20px);
        height: 214px !important;
    }

    .p-profiles .profile-head .c-history {
        margin-top: 86px;
        width: calc(39% - 20px);
        height: 133px !important;
    }

    .p-profiles .profile-head .c-info .c-additionals {
        margin-bottom: 0;
        margin-top: 30px;
        position: absolute;
        bottom: 20px;
        margin-right: 20px;
    }
  
    .p-profiles .profile-head .c-mobile-actions {
        display: block;
        width: calc(0.39 * (100% - 20px) - 20px);
        left: calc(0.61 * (100% - 20px) + 20px);
        margin-top: 5px;
        position: absolute;
        height: 61px;
        font-size: 14px;
    }
    
    .p-profiles .profile-head .c-history .entry:last-child {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-info {
        margin-left: 10px;
        margin-top: 0;
    }
    
    .p-profiles .profile-head .c-mobile-actions {
        width: calc(0.39 * (100% - 30px) - 20px);
        margin-top: 0;
    }
    
    .p-profiles .profile-head .c-history {
        margin-top: 81px;
    }
}

:root {
    --desktop-avatar-image: var(--profile-cover-image) !important;
}
