/* Скрытие аватарки при наличии обложки профиля / Hides avatar when profile cover is set */

@media screen and (min-width: 768px) {
    .p-profiles .profile-head .c-brief .avatar {
        display: none;
    }

    .p-profiles .profile-head .c-info {
        float: left;
        margin-top: 5px;
        width: calc(61% - 20px);
        height: 269px !important;
    }

    .p-profiles .profile-head .c-history {
        margin-top: 69px;
        width: calc(39% - 20px);
        height: 205px !important;
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .p-profiles .profile-head .c-info .c-additionals {
        margin-bottom: 0;
        margin-top: 30px;
        position: absolute;
        bottom: 20px;
        margin-right: 20px;
    }
  
    .p-profiles .profile-head .c-mobile-actions {
        display: block;
        float: right;
        width: calc(0.39 * (100% - 20px) - 20px);
        right: 20px;
        margin-top: 5px;
        position: absolute;
        height: 64px;
        font-size: 14px;
        border-bottom-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .p-profiles .profile-head .c-history .entry:last-child {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-info {
        margin-left: 10px;
        margin-top: 0;
    }
    
    .p-profiles .profile-head .c-mobile-actions {
        margin-top: 0;
    }
    
    .p-profiles .profile-head .c-history {
        margin-top: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .p-profiles .profile-head .c-mobile-actions {
        width: calc(0.39 * (100% - 30px) - 20px);
        right: 25px;
    }
}

:root {
    --desktop-avatar-image: var(--profile-cover-image) !important;
}
