/* Обложка для профиля / Profile cover */

@media screen and (min-width: 768px) {
    .p-profiles .profile-head .c-brief header {
        background-image: var(--profile-cover-image) !important;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-brief header {
        height: var(--profile-cover-height) !important;
    }

    .p-profiles .profile-head {
        margin-top: calc(var(--profile-cover-height) + 15px) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .p-profiles .profile-head .c-brief header {
        height: var(--profile-cover-height) !important;
    }

    .p-profiles .profile-head {
        margin-top: calc(var(--profile-cover-height) + 10px) !important;
    }
}
