/* Светлое фоновое изображение / Light background image */

@media screen {
    body {
        background-image: var(--profile-background-image) !important;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .l-footer .copyright, .l-footer .copyright::before {
        color: black;
        text-shadow: 0 0 0.06em white;
    }

    .l-page {
        background: none !important;
    }
    
    .l-footer .links a {
        color: #176093;
        text-shadow: 0 0 0.06em white;
    }
    
    .l-footer .links a:hover {
        color: #ff5016;
    }
}
