/* Темное фоновое изображение / Dark background image */

@media screen {
    body::before {
        background-image: var(--profile-background-image) !important;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .l-footer .copyright, .l-footer .copyright::before {
        color: white;
        text-shadow: 1px 1px 0 black;
    }

    .l-page {
        background: none !important;
    }
    
    .l-footer .links a {
        color: #81dbf8;
        text-shadow: 1px 1px 0 black;
    }
    
    .l-footer .links a:hover {
        color: var(--button-hover-color);
    }
}
