/* Обложка для профиля / Profile cover */

@media screen and (min-width: 768px) {
    .p-profiles .profile-head .c-brief header {
        background-image: var(--profile-cover-image);
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 1025px) {
    .p-profiles .profile-head .c-brief header {
        height: var(--profile-cover-height);
    }

    .p-profiles .profile-head {
        margin-top: calc(var(--profile-cover-height) + 18px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .p-profiles .profile-head .c-brief header {
        height: var(--profile-cover-height);
    }

    .p-profiles .profile-head {
        margin-top: calc(var(--profile-cover-height) + 12px);
    }
}

:root {
    --desktop-avatar-image: var(--profile-cover-image);
}
