/* Светлое фоновое изображение в профиле / Light background profile image */

@media screen {
    .p-profiles.p-profiles-show::before {
        background-image: var(--profile-background-image) !important;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .p-profiles.p-profiles-show .l-footer .copyright, .p-profiles.p-profiles-show .l-footer .copyright::before {
        color: black;
        text-shadow: 0 0 0.06em white;
    }

    .p-profiles.p-profiles-show .l-page {
        background: none !important;
    }
    
    .p-profiles.p-profiles-show .l-footer .links a {
        color: #176093;
        text-shadow: 0 0 0.06em white;
    }
    
    .p-profiles.p-profiles-show .l-footer .links a:hover {
        color: #ff5016;
    }
}
