/* Light teal theme / Сине-зеленая тема */
:root {
    --top-menu-color: #0eab5d;
    --top-menu-submenu-back-color: #0a8f4d;
    --top-menu-button-hover-color: #099650;
    --top-menu-border-color: #eee;
    
    --l-page-back-color-desktop: #f8f8f8;
    --l-page-back-color-mobile: white;
    --quote-back-color: #eaeaea;
    --tile-back-color: white;
    --tile-border-color: #38d18a;
    --headline-color: #17a65e;
    
    --main-text-shadow-color: #0000;
    --main-text-color: black;
    --sec-text-color: #424242;
    --ter-text-color: #666666;
    --quat-text-color: #828282;
    --profile-nickname-color: #088547;
    
    --li-hover-color: #d3d3d3;
    --li-active-color: #17a65e;
    --main-link-color: #176093;
    --main-link-hover-color: #0b9651;
    --sec-link-color: #4a4a4a;
    --sec-link-active-color: #007042;
    --sec-link-hover-color: #303030;
    
    --button-hover-color: #08ad68;
    --orange-hover-color: #ff5900;
    --green-color: #169e55;
    --blue-color: #0074d9;
    
    --bar-s0-color: #117d4c;
    --bar-s1-color: #18995f;
    --bar-s2-color: #31b573;
    --bar-s3-color: #58db9a;
}
