/* Glass amethyst theme / Аметистовая тема */

:root {
    --top-menu-color: #4a008fe4;
    --top-menu-submenu-back-color: #3a0480de;
    --top-menu-button-hover-color: #23024fa0;
    --top-menu-border-color: none;
    --l-page-back-color-desktop: #1f0044;
    --l-page-back-color-mobile: #1f0044;
    --quote-back-color: #5700ba88;
    --tile-back-color: #340866d4;
    --tile-border-color: none;
    --headline-color: #5d30ffe5;
    --main-text-shadow-color: black;
    --main-text-color: white;
    --sec-text-color: #ebebeb;
    --ter-text-color: #dedede;
    --quat-text-color: #ababab;
    --profile-nickname-color: #e79eff;
    --li-hover-color: #1d053088;
    --li-active-color: #5d30ff88;
    --main-link-color: #78c4ff;
    --main-link-hover-color: #d58cff;
    --sec-link-color: #dedede;
    --sec-link-active-color: #f5ff30;
    --sec-link-hover-color: white;
    --button-hover-color: #7729ffa8;
    --orange-hover-color: #ffba26;
    --green-color: #19ff79;
    --bar-s0-color: #6700e6c9;
    --bar-s1-color: #9429ffc9;
    --bar-s2-color: #b94fffc9;
    --bar-s3-color: #b87affc9;
}

@media screen {
    .l-top_menu-v2 .submenu > a:hover {
        background-color: #fffd;
    }

    .b-add_to_list .trigger, .b-add_to_list .option {
        border: none !important;
    }

    .text.shortened::before, .body-truncated::before, .inner.shortened::before {
        background: none;
    }

    .tooltip-inner {
        background-color: #340866;
    }
}
