/* Glass sapphire theme / Сапфировая тема */

:root {
    --top-menu-color: #00408fe4;
    --top-menu-submenu-back-color: #043b80de;
    --top-menu-button-hover-color: #001f54a0;
    --top-menu-border-color: none;
    --l-page-back-color-desktop: #001544;
    --l-page-back-color-mobile: #001544;
    --quote-back-color: #0070ba88;
    --tile-back-color: #082b5ed4;
    --tile-border-color: none;
    --headline-color: #185df2e5;
    --main-text-shadow-color: black;
    --main-text-color: white;
    --sec-text-color: #ebebeb;
    --ter-text-color: #dedede;
    --quat-text-color: #ababab;
    --profile-nickname-color: #a6e0ff;
    --li-hover-color: #05053088;
    --li-active-color: #0251d988;
    --main-link-color: #6ec2ff;
    --main-link-hover-color: #1ad652;
    --sec-link-color: #dedede;
    --sec-link-active-color: #ebff38;
    --sec-link-hover-color: white;
    --button-hover-color: #0295cfa8;
    --orange-hover-color: #ffa617;
    --green-color: #19ff79;
    --bar-s0-color: #144effc9;
    --bar-s1-color: #1472ffc9;
    --bar-s2-color: #369dffc9;
    --bar-s3-color: #70cbffc9;
}

@media screen {
    .l-top_menu-v2 .submenu > a:hover {
        background-color: #fffd;
    }

    .b-add_to_list .trigger, .b-add_to_list .option {
        border: none !important;
    }

    .text.shortened::before, .body-truncated::before, .inner.shortened::before {
        background: none;
    }

    .tooltip-inner {
        background-color: #082b5e;
    }
}
